*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: 'PT Serif', serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.wrap-left{
    width: 60rem;
    height: 34rem;
    display: flex;
}
.wrap-right{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 12rem;
    height: 36rem;
}
.block-list{
    width: 35rem;
    height: 33.5rem;
    background-color: aliceblue;
    border-radius: 2rem;
    margin-top: 1.5rem;
    border: 3px solid #000;
    box-shadow: 20px 25px 20px -15px rgba(0,0,0,0.25), 25px 0px 20px -15px rgba(0,0,0,0.25);
}
.block-list ul{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    list-style: none;
}
.block-list li{
    display: flex;
    margin: .5rem 0;
    font-family: 'Dancing Script', cursive;
}
.block-list input{
    width: 1.3rem;
    margin-right: .5rem; 
}
.done{
    text-decoration: line-through;
}
.block-list hr{
    margin-left: -2rem ;
    border: 1px solid #cecccc;
}
.spring-list{
    display: flex;
    gap: 6rem;
    justify-content: center;
}
.spring{
    width: 1.6rem;
    height: 4rem;
    background-color: #FFF;
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: -1.5rem;
}
.header-list{
    width: 35rem;
    height: 5rem;
    background-color: #effb0c;
    margin-top: -2.7rem;
    margin-left: -3px;
    border: 3px solid #000;
    border-radius: 2rem 2rem 0 0; 
}
.painel-list{
    width: 100%;
}
.header-painel{
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    color: #000;
}
.main-painel{
    margin-top: 2rem;
    text-align: center;
}
.main-painel input{
    width: 20rem;
    height: 2rem;
}
.main-painel button{
    margin-top: 3rem;
    width: 60%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #038007;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}